doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link( rel="stylesheet", href="/styles.css")
        title Mis películas
    body 
        main
            
            h1.title Mis películas
            a(href="/admin/createMovie") 
                button.btn Crear nueva
            section.movies_container 
                each movie in movies
                    section.movie_cont
                        span.popup 
                            button.close 
                            h3 ¿Estas seguro que quieres eliminar esta película?
                            a.confirm_del(type="submit" name=movie.id) Eliminar
                        span 
                            a(href='/admin/editMovie/'+ movie.id ) 
                                button.btn Editar
                            button.btn.btn_delete Eliminar
                        img(crossorigin="anonymous" src=movie.image, alt="", srcset="")
                        h3 Título: #{movie.fullTitle}
                        p Director: #{movie.directors} 
                        p Año de lanzamiento: #{movie.year} 
                        p Sinopsis: 
                        p #{movie.plot} 
                        p Duración: #{movie.runtimeStr} 
        script(src="/delete.js" type='module') 


