doctype html
html
  head
    title PELICULAS Encontradas
    link(rel="stylesheet", href="stylesPeliculas.css")
  body 
    main
      a(href='/search')
        button.singIn-btn Busca otra pelicula
        
    h1 PELICULAS Encontradas
    each valor in detallePeliculas
      div.valor.id 
        h4=valor.fullTitle
        p= valor.year
        p= valor.directors
        p= valor.genres
        p= valor.runtimeStr
        div.divDetalles
          p= valor.plot
          p= valor.stars
          p= valor.imDbRating
        button#butonPelicula(value= valor.id) Ir a pelicula
        img(src=valor.image)


  script(src="/detallePeliculas.js" type= 'module') 
