html
doctype html
html
  head
    title PELICULAS Encontradas
    link(rel="stylesheet", href="stylesPeliculas.css")
  body
    include header.pug
    main
    h1 PELICULAS Encontradas:
    section.sectionPeliculas 
    each valor in detallePeliculas
      div.divpeliculas(id= valor.id)
        img.tilt-in-top-1(src=valor.image)

        h3=valor.fullTitle
        p Año: #{valor.year}
        p Directores: #{valor.directors}
        p Géneros: #{valor.genres}
        p Duración: #{valor.runtimeStr}
        div.divDetalles
          p Trama: #{valor.plot}
          p Actores: #{valor.stars}
          p Rating IMDB: #{valor.imDbRating}
          button.singIn-btn.favorites(value=valor.id) Favoritos
          button.singIn-btn.btnOpiniones(value=valor.fullTitle) Opiniones
          button.singIn-btn.back Volver
        button#butonPelicula.singIn-btn( value= valor.id) Ir a pelicula




  script(src="/detallePeliculas.js" type= 'module') 
