//- doctype html
html
  head
    title PELICULAS Encontradas
    link(rel="stylesheet", href="stylesPeliculas.css")
  body 
    main
      a(href='/search')
        button.singIn-btn Busca otra pelicula
        
    h1 PELICULAS Encontradas
    each valor in peliculas.results
      div.divpeliculas
        h4=valor.title
        //- p= valor.id
        p= valor.description
        a(href=`https://imdb-api.com/en/API/Title/${apiKey}/${valor.id}`)
          img(src=valor.image)
          
        
